In [2]:
import pandas as pd
df = pd.DataFrame({'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8], 'c': [9, 10, 11, 12]}
    ,index=['i', 'ii', 'iii', 'iv'])

In [3]:
df

     a  b   c
i    1  5   9
ii   2  6  10
iii  3  7  11
iv   4  8  12

In [5]:
df.describe()

              a         b          c
count  4.000000  4.000000   4.000000
mean   2.500000  6.500000  10.500000
std    1.290994  1.290994   1.290994
min    1.000000  5.000000   9.000000
25%    1.750000  5.750000   9.750000
50%    2.500000  6.500000  10.500000
75%    3.250000  7.250000  11.250000
max    4.000000  8.000000  12.000000

In [6]:
df.describe().loc['mean']

a     2.5
b     6.5
c    10.5
Name: mean, dtype: float64

In [7]:
df.describe().iloc[1]

a     2.5
b     6.5
c    10.5
Name: mean, dtype: float64

In [8]:
df.describe().loc[['mean','min']]

        a    b     c
mean  2.5  6.5  10.5
min   1.0  5.0   9.0