In [1]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list[4] = 200
print(my_list)

[1, 2, 3, 4, 200, 6, 7, 8, 9, 10]

In [2]:
my_list.append(9)

In [3]:
print(my_list)

[1, 2, 3, 4, 200, 6, 7, 8, 9, 10, 9]

In [5]:
my_list.sort()

In [6]:
print(my_list)

[1, 2, 3, 4, 6, 7, 8, 9, 9, 10, 200]

In [7]:
suit_tup = ('diamond', 'club', 'spade', 'heart')
print(suit_tup[::2])

('diamond', 'spade')

In [8]:
suit_tup = ('diamond', 'club', 'spade', 'heart')
print(suit_tup[0])

diamond

In [9]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_list[4] = 200

print(my_list)

[1, 2, 3, 4, 200, 6, 7, 8, 9, 10]

In [14]:
suit_tup = ('diamond', 'club', 'spade', 'heart')
print(suit_tup[1:4:2])

('club', 'heart')

In [15]:
my_dct = {'Texas': 'Austin', 'Indiana': 'Indianapolis', 'Illinois': 'Chicago', 'New York': 'New York City'}
for element in my_dct:
    print(element)

Texas
Indiana
Illinois
New York

In [21]:
state = str(input('Enter a state to view its capital: '))

my_dct = {'Texas': 'Austin', 'Indiana': 'Indianapolis', 'Illinois': 'Chicago', 'New York': 'Albany'}

print(my_dct.get(state,'Capital not found!'))

Enter a state to view its capital: Arizona
Capital not found!

In [23]:
my_dct = {'Texas': 'Austin', 'Indiana': 'Indianapolis', 'Illinois': 'Chicago', 'New York': 'Albany'}
for thing in my_dct.items():
    print(thing)

('Texas', 'Austin')
('Indiana', 'Indianapolis')
('Illinois', 'Chicago')
('New York', 'Albany')

In [26]:
my_dct = {'Texas': 'Austin', 'Indiana': 'Indianapolis', 'Illinois': 'Chicago',
          'New York': 'Albany', 'Iowa': 'Des Moines',
          'California': 'Sacramento', 'Utah': 'Salt Lake City',
          'Ohio': 'Columbus'}
for capital in my_dct.values():
    if capital.startswith('S'):
        print(capital)

Sacramento
Salt Lake City

In [31]:
my_set = {2, 3, 5, 7, 11}
my_new_set = {1, 3, 5, 7, 9}

for element in my_new_set:
    if element not in my_set:
        print(element)

1
9

In [38]:
user_input = input('Enter a space-separated list of values: ')
user_set = user_input.split(' ')

user_dict = {input: input.upper() for input in user_set}

print(user_set)
print(user_dict)

Enter a space-separated list of values: one two three
['one', 'two', 'three']
{'one': 'ONE', 'two': 'TWO', 'three': 'THREE'}

In [51]:
user_input = input('Enter a space-separated list of values: ')
user_set = user_input.split(' ')

user_dict = {input: input.lower() for input in user_set}

user_tuple = tuple(user_dict)

for item in user_set.items():
    tuple(item)
    print(item)

Enter a space-separated list of values: one TWo ThreE

AttributeError: 'list' object has no attribute 'items'